body { font-family: 'Roboto Condensed', sans-serif; }

.main{
  background-color: #fafafa;
  padding: .5em;
  position: sticky;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  top: 0;
  height: 100vh;
}

.move {
  animation: move 2s;
  margin: 0 10px !important;
}

@keyframes move {
  from { margin-right: 0px; }
  to { margin-right: 50px; }
}

.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-header {
  font-size: 2rem;
  color: #4A4A4A;
  margin-top: 1;
}

.profile-details {
  line-height: 1.5em;
  color: #4A4A4A;
}

.social-net {
  display: flex;
  justify-content: center;
}

a {
  color: #061024;
  font-family: sans-serif;
}

a:hover { color: rgb(28, 28, 61); }

.txt-role { color: #4A4A4A; }
.txt-color { color: #061024;}
#txt-last { color: #4A4A4A;}

.btn-color {
  background-color: #061024;
  color: white;
  border-radius: 5px;
}

img { max-width: 100%;}

.first-img, .second-img  {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #0C122A;
  height: 103vh;
  overflow: hidden;
  flex-direction: column;
}

.second-img {
  background-color: #E8E8E8;
  height: 103vh;
  overflow: hidden;
}

.row-two {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.min-row {
    display: grid;
    grid-template-columns: 1fr;
}

.current {
  line-height: 1.5em;
  color: lavender;
  margin: 0 10px;
}

.title {
  font-size: 1.5rem;
}

.social {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.tools {
  align-items: center;
  justify-content: center;
}

footer {
  background-color: #061024;
  color: rgb(168, 164, 164)
}

footer ul {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.top {
  font-family: sans-serif;
  margin-top: 2em;
  text-align: center;
  color: rgb(139, 135, 135);
}

.bottom li {
  margin-bottom: 2em;
  margin-right: .5em;
}

@media (max-width: 1024px) {
  .first-img, .second-img, .third-img { height: 100vh;}
}


@media (max-width: 768px) {
  .row-two { grid-template-columns: 1fr; 
  }

  .main {
    position: unset;
    height:  80vh;
  }

  .first-img, .second-img, .third-img { 
    height: 100vh;
  }

  .footer ul {
    margin-top: 15px;
  }

}

@media (max-width: 576px) {
  .main { height:  100vh; }
  .first-img { height: 85vh;}
  .second-img{ height: 85vh;}
  footer ul {
      flex-direction: column;
      align-items: center;
      margin-top: .5em;
  }
}

@media (max-width: 415px) {
  .first-img { height: 72vh;}
  .second-img{ height: 72vh;}
}

img {
  width: 80%;
  height: auto;
  transition: transform 250ms;
}

.newsWeek-clone {
  margin: 2% 0 2% 7%;
}

.game, .netflix , .dev-blog {
  margin: 2% 0 0 9.3%;
}

.netflix-gif {
    width: 100%;
    margin-left: -47%;
    margin-top: 10%;
    transition: transform 250ms;
    overflow: hidden;
}

.gif-container {
    width: 100%;
    max-height: 45%;
    margin-left: -41%;
}

.dev-blog-container {
  margin-left: -41.7%;
}

.img-hover {
  display: flex;
  justify-content: center;
}

.img-hover:hover{
  transform: scale(1.065);
  transition: transform 4s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.shooting_game , .dev-blog-gif {
  margin-top: 9.7%;
}

.dev-blog-gif {
  margin-top: 9.2%;
  margin-left: -45.6%;
}
